.interaction-wrapper, .text-content {
  display: grid;
  place-items: center;
}
.text-content {
  h3 {
    color: #8b5d64;
  }
}
.credits {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 12px;
  color: #8b5d64;
  position: fixed;
  bottom: 10px;
  right: 10px;
  a {
    text-decoration: none;
    color: #b85060;
    font-size: 12px;
    margin-left: 5px;
    &.developer {
      background: #c9cbcd;
      color: #38393b;
      padding: 5px;
      border-radius: 6px;
      font-weight: 500;
      border: 1px solid rgba(145, 157, 170, 0.42);
    }
  }
}
