.tree-wrapper {
  .tree {
    position: relative;
    height: 60px;
    width: 80px;
    .pot {
      position: absolute;
      left: 0;
      top: 4px;
    }
    .branch {
      width: 5px;
      background: #04B424;
      position: absolute;
      bottom: 50px;
      left: 30px;
      transition: 0.4s height ease-out;
      will-change: height;
      .leaf {
        position: absolute;
        bottom: 0;
        transition: 0.8s transform ease;
    
        &.right {
          left: 0px;
          transform-origin: bottom left;
          bottom: 2px;
        }
    
        &.left {
          right: 0;
          bottom: -8px;
          transform-origin: top right;
        }
    
        &.top {
          width: 25px;
          height: 25px;
          bottom: -25px;
          border-radius: 20px 0;
          top: -8px;
          left: -10px;
          transform: translate(0px, -10px) rotate(135deg);
          background-color: #04B424;
        }
      }
    }
  }
}
