.tree-wrapper {
  position: relative;
  min-height: 250px;
  display: flex;
  align-items: flex-end;
  .tree {
    position: relative;
    height: 60px;
    width: 80px;
    .pot {
      position: absolute;
      left: 0;
      top: 4px;
    }
    .branch {
      width: 5px;
      background: #04B424;
      position: absolute;
      bottom: 50px;
      left: 30px;
      transition: 0.4s height ease-out;
      will-change: height;
      .leaf {
        position: absolute;
        bottom: 0;
        transition: 0.8s transform cubic-bezier(.44, -0.01, .52, 1);
    
        &.right {
          left: 0px;
          transform-origin: bottom left;
          bottom: 2px;
        }
    
        &.left {
          right: 0;
          bottom: -8px;
          transform-origin: top right;
        }
    
        &.top {
          transform: rotate(308deg);
        }
      }
    }
  }
}
