$range-height: 14px;
$slider-width: 18px;
$slider-height: 28px;
$slider-range-width: 20rem;
$color: #8b5d64;

@mixin track-style {
  background: linear-gradient(to top, #97deff 70%, #6fcef9 30%),
      linear-gradient(to top, #ffd096 70%, #ffbb91 30%);
  background-size: var(--progress) 100%, 100% 100%;
  background-repeat: no-repeat;
  height: $range-height;
  border: 1px solid $color;
  border-radius: 10px;
}

@mixin thumb-style {
  -webkit-appearance: none;
  appearance: none;
  /*custom styles*/
  margin-top: calc(($range-height/2) - ($slider-height/2));
  border-radius: 50%;
  background: linear-gradient(to right,
        #ffcc84 10%,
        #ffe68a 10% 80%,
        #ffffb2 80% 100%);
  height: $slider-height;
  width: $slider-width;
  border-radius: 5px;
  border: 1px solid #6e454c;
  cursor: pointer;
}
.ticks {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px 0 10px;
  margin: 4px 0 30px;
  span {
    display: flex;
    justify-content: center;
    width: 2px;
    height: 8px;
    background: $color;
    color: $color;
    line-height: 40px;
    user-select: none;
  }
}
p.tick-label {
  color: $color;
  text-align: center;
  font-size: 12px;
}
.range {
  width: $slider-range-width;
  position: relative;
  input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: $slider-range-width;
    background: transparent;
    height: 2px;
  
    &:focus {
      outline: none;
    }
  
    &::-webkit-slider-runnable-track {
      @include track-style()
    }
  
    &::-moz-range-track {
      @include track-style()
    }
  
    /* slider thumb */
    &::-webkit-slider-thumb {
      @include thumb-style()
    }
  
    &::-moz-range-thumb {
      @include thumb-style();
    }
  }
}
